In [1]:
import pandas
import numpy

In [5]:
#import data set
names =['age', 'workclass', 'fnlwgt', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
datas = pandas.read_csv('adult_data', names=names)
print('Number of instances = %d' % (datas.shape[0]))
print('Number of attributes = %d' % (datas.shape[1]))
datas.head()

Number of instances = 32561
Number of attributes = 15

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
#a sample of size 10 is randomly selected (without replacement) from the original data.

sample = datas.sample(n=10)
sample

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
406,28,Private,110145,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
14078,64,Federal-gov,161926,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,8,United-States,<=50K
12381,44,State-gov,691903,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,60,United-States,>50K
12797,51,Self-emp-inc,189183,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
13910,73,Self-emp-inc,80986,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,United-States,<=50K
16045,28,Self-emp-inc,32922,Assoc-voc,11,Never-married,Sales,Not-in-family,White,Male,0,0,60,United-States,<=50K
11736,41,Private,66118,Bachelors,13,Divorced,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K
19882,27,Private,249315,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
26902,78,Private,105586,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,36,United-States,<=50K
1544,69,?,473040,5th-6th,3,Divorced,?,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [7]:
#randomly select 1% of the data (without replacement) and display the selected samples.

sample = datas.sample(frac=0.01, random_state=1)
sample

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
31503,34,Private,167893,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,64,United-States,>50K
3308,43,Private,334946,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4208,47,Local-gov,154940,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,>50K
21078,29,Private,164040,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
27354,23,Private,60331,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K
10984,19,Self-emp-not-inc,73514,HS-grad,9,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,30,United-States,<=50K
31192,31,Private,128567,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
4077,59,Private,160362,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
26787,33,Federal-gov,188246,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25154,35,Private,78247,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
4131,41,Private,221947,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,50,United-States,>50K
9418,54,Self-emp-inc,99185,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,?,>50K
31858,35,Private,112264,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
21145,43,Self-emp-not-inc,343061,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,4508,0,40,Cuba,<=50K
6294,30,Private,177596,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,36,United-States,<=50K
28928,47,Private,121124,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,15024,0,50,United-States,>50K
13643,30,Federal-gov,423064,HS-grad,9,Separated,Adm-clerical,Other-relative,Black,Male,0,0,35,United-States,<=50K
32491,33,Private,63079,HS-grad,9,Divorced,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K
195,23,Private,197387,5th-6th,3,Married-civ-spouse,Transport-moving,Other-relative,White,Male,0,0,40,Mexico,<=50K
10944,21,Private,148211,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,3674,0,50,United-States,<=50K
12399,35,Private,197365,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
23777,47,Private,33865,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,48,United-States,<=50K
15605,38,Self-emp-not-inc,115215,10th,6,Separated,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K
22493,59,Private,131869,HS-grad,9,Widowed,Other-service,Not-in-family,White,Female,0,0,35,United-States,<=50K
187,53,?,135105,Bachelors,13,Divorced,?,Not-in-family,White,Female,0,0,50,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29033,22,Private,171176,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,48,?,<=50K
19241,18,State-gov,391257,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
12542,39,Local-gov,143385,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
3784,49,Private,185859,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,43,United-States,<=50K
21067,35,Private,272476,Assoc-acdm,12,Married-civ-spouse,Other-service,Wife,White,Female,0,0,35,United-States,>50K
31616,28,Private,187397,HS-grad,9,Never-married,Other-service,Other-relative,Other,Male,0,0,48,Mexico,<=50K
27758,44,Private,165815,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
20372,28,Private,365411,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,42,United-States,<=50K
19269,36,Private,32709,Some-college,10,Divorced,Sales,Not-in-family,White,Female,3325,0,45,United-States,<=50K
24305,32,Private,168138,Assoc-acdm,12,Divorced,Sales,Not-in-family,White,Male,2597,0,48,United-States,<=50K
26659,20,Private,166527,Some-college,10,Never-married,Adm-clerical,Own-child,Other,Female,0,0,20,United-States,<=50K
8137,20,Self-emp-not-inc,263498,Assoc-voc,11,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
19071,62,Private,141308,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
7667,27,Private,318639,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,60,Mexico,<=50K
29886,32,Self-emp-not-inc,379412,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29466,64,Private,59829,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,25,France,<=50K
5129,60,Self-emp-not-inc,143932,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
7442,24,Private,180060,Assoc-acdm,12,Never-married,Craft-repair,Not-in-family,White,Male,2354,0,40,United-States,<=50K
27782,41,Private,222504,Prof-school,15,Divorced,Prof-specialty,Unmarried,White,Female,0,0,38,United-States,<=50K
23964,38,Self-emp-not-inc,58972,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,<=50K
15234,23,Private,120773,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
15663,33,Federal-gov,137059,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,10,United-States,<=50K
22018,22,Private,39615,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,45,United-States,<=50K
13930,34,Private,157747,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States,<=50K
14438,44,Self-emp-not-inc,274562,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,14344,0,40,United-States,>50K
27079,57,Federal-gov,30030,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,>50K
21281,62,Self-emp-inc,56248,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,60,United-States,>50K
21052,27,Private,321896,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
17248,65,Private,101104,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,9386,0,10,United-States,>50K
7595,22,Private,333910,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,43,United-States,<=50K

In [8]:
#a sampling with replacement to create a sample whose size is equal to 20% of the entire data.

sample = datas[:30].sample(frac=0.20, replace=True, random_state=1)
sample

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K

# Stratify sampling

In [9]:
from sklearn.model_selection import train_test_split

Train, Test = train_test_split(datas, test_size=0.25, stratify=datas['income'])
Train

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
25079,40,Private,192344,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
23327,56,State-gov,110257,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
11125,42,Private,183205,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,<=50K
8868,40,Private,390369,HS-grad,9,Divorced,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26759,35,Private,126569,HS-grad,9,Divorced,Craft-repair,Own-child,White,Male,0,0,20,United-States,<=50K
16499,69,Private,277588,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,10,United-States,<=50K
1355,61,Self-emp-not-inc,30073,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,1848,60,United-States,>50K
5948,39,Private,327435,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,36,United-States,>50K
31846,29,Local-gov,152461,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,0,42,United-States,<=50K
13041,53,Private,95864,HS-grad,9,Never-married,Adm-clerical,Other-relative,White,Male,0,0,35,United-States,<=50K
15990,19,Self-emp-not-inc,285263,9th,5,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,35,Mexico,<=50K
16054,42,State-gov,160369,HS-grad,9,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,>50K
17152,19,Private,35245,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,40,United-States,<=50K
17413,28,Private,22422,HS-grad,9,Never-married,Transport-moving,Unmarried,White,Male,0,0,55,United-States,<=50K
30560,59,Local-gov,50929,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
2629,54,Private,182854,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
29718,33,Self-emp-not-inc,170979,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1887,40,United-States,>50K
22537,45,Private,165484,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9196,46,Private,153501,HS-grad,9,Never-married,Transport-moving,Not-in-family,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
5665,72,Private,284080,1st-4th,2,Divorced,Other-service,Not-in-family,Black,Male,0,0,40,United-States,<=50K
9769,57,Private,298507,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K
10344,33,Self-emp-not-inc,249249,5th-6th,3,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
6795,22,Private,206815,HS-grad,9,Never-married,Sales,Unmarried,White,Female,0,0,40,Peru,<=50K
28562,31,Private,227146,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,United-States,>50K
11483,50,Private,98350,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
5197,63,Private,275034,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,1740,35,United-States,<=50K
29895,40,Private,236021,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K
9828,64,State-gov,216160,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,Columbia,>50K
20817,55,Private,141326,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
2351,31,Private,220066,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,14344,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7493,66,Self-emp-not-inc,291362,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
5697,51,Private,300816,Bachelors,13,Never-married,Adm-clerical,Unmarried,White,Male,0,0,20,United-States,<=50K
25354,65,Private,89681,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,99,United-States,<=50K
22260,31,Local-gov,204470,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K
24703,25,Private,285367,HS-grad,9,Divorced,Other-service,Not-in-family,White,Male,0,0,50,United-States,<=50K
9506,43,State-gov,41834,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,38,United-States,>50K
21384,26,Private,354784,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
12187,60,Private,178050,HS-grad,9,Divorced,Other-service,Unmarried,Black,Female,0,0,38,United-States,<=50K
612,24,Private,249909,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,50,United-States,<=50K
25587,23,Local-gov,254127,Bachelors,13,Never-married,Prof-specialty,Other-relative,White,Female,0,0,50,United-States,<=50K
8107,45,Federal-gov,45891,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Male,0,0,42,United-States,<=50K
25542,27,Local-gov,332249,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
7303,31,Private,183778,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Male,0,0,45,United-States,<=50K
10307,45,Private,234652,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
1783,39,Private,238415,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
2301,45,Private,158685,HS-grad,9,Separated,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
17458,54,Self-emp-not-inc,226497,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18996,58,Private,199278,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,38,United-States,<=50K
10196,31,Private,345277,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
4123,24,Private,154165,9th,5,Divorced,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K
29005,38,Private,143123,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
10747,48,Private,232840,Some-college,10,Widowed,Adm-clerical,Unmarried,White,Female,0,0,43,United-States,<=50K
26065,39,Private,245053,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
29687,45,Self-emp-inc,178344,Assoc-voc,11,Divorced,Sales,Unmarried,White,Female,0,0,30,United-States,<=50K
17940,30,Private,128065,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,45,United-States,<=50K
4563,25,Private,267012,Assoc-voc,11,Never-married,Sales,Not-in-family,White,Male,0,0,45,United-States,<=50K
21686,65,?,123484,HS-grad,9,Widowed,?,Other-relative,White,Female,0,0,25,United-States,<=50K
24531,46,Private,551962,HS-grad,9,Separated,Handlers-cleaners,Unmarried,White,Female,0,0,50,Peru,<=50K
6473,24,Private,190143,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
29356,52,Self-emp-not-inc,138611,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,7688,0,55,United-States,>50K

In [10]:
realClass1 = sum(datas['income']==' <=50K')
samplingClass1 = sum(Train['income']==' <=50K')
realClass2 = sum(datas['income']==' >50K')
samplingClass2 = sum(Train['income']==' >50K')
print('Jumlah kelas <=50K sebenarnya', realClass1)
print('Jumlah kelas <=50K stratified sampling', samplingClass1)
print('Jumlah kelas >50K sebenarnya', realClass2)
print('Jumlah kelas >50K stratified sampling', samplingClass2)

Jumlah kelas <=50K sebenarnya 24720
Jumlah kelas <=50K stratified sampling 18539
Jumlah kelas >50K sebenarnya 7841
Jumlah kelas >50K stratified sampling 5881

# Cluster sampling

In [11]:
from sklearn.impute import SimpleImputer
imp_mode=SimpleImputer(missing_values=numpy.NaN, strategy='most_frequent')
imp_mode.fit(datas)
clean_data = pandas.DataFrame(imp_mode.transform(datas))
clean_data.columns = datas.columns
clean_data.index = datas.index

In [14]:
# Encode the categorical features as numbers
import sklearn.preprocessing as preprocessing
def number_encode_features(df):
    result = df.copy()
    encoders = {}
    for column in result.columns:
        if result.dtypes[column] == numpy.object:
            encoders[column] = preprocessing.LabelEncoder()
            result[column] = encoders[column].fit_transform(result[column].fillna('0'))
    return result, encoders

In [19]:
#MASIS ERRORRRRRRRRRRRRRR

from sklearn.cluster import KMeans

n_clusters = 2
test_size=0.7
data_without_class,_ = number_encode_features(clean_data)
data_without_class = data_without_class.drop(columns='income')
kmeans = KMeans(n_clusters=n_clusters, random_state=0).fit(data_without_class)
selected_index=[]
for i in range(n_clusters):

    C_i = numpy.where(kmeans.labels_ == i)[0].tolist() 
    n_i = len(C_i) # number of points in cluster i
    
    
    sample_i = numpy.random.choice(C_i, int(test_size * n_i)) 
    selected_index.append(sample_i)
print('Index yang terpilih:',selected_index)

train1=data_without_class.iloc[selected_index[0],:]
train2=data_without_class.iloc[selected_index[1],:]

print('Jumlah data dari cluster pertama',len(train1))
print('Jumlah data dari cluster kedua',len(train2))

Index yang terpilih: [array([13117, 19452, 10981, ...,  6684, 12686, 23253]), array([ 9969, 12649,  4049, ...,  5839, 24559, 15721])]
Jumlah data dari cluster pertama 11078
Jumlah data dari cluster kedua 11714

In [20]:
import pandas as pd

def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

df = pandas.read_csv('adult.data.txt', names=names)
df.head()

FileNotFoundError: [Errno 2] File b'adult.data.txt' does not exist: b'adult.data.txt'

In [ ]:
df.groupby(['income'])['native-country'].count()